{{#if notification.icon}}
  {{s-icon name="clock" class=(concat "col-xs-1 mt5 fs25 removePadding notification-icon " notification.typeClass)}}
{{/if}}
<div class="notification-message {{getMessageClass}}" title={{notification.message}}>
    {{notification.message}}
</div>
{{#if notification.actions}}
  {{#s-button className=(concat 'fs12 notification-action ' notification.typeClass) actionName=(action 'customAction' notification)}}
    {{notification.actions.title}}
  {{/s-button}}
{{/if}}
{{#if showProgress}}
  {{s-progress class="col-sm-8" cssClasses="query-progress" progress=notification.progress.percentage}}
{{/if}}
{{#if notification.isCloseable}}
  {{#s-button className="fs21 close-notification" actionName=(action 'remove' notification)}}
    <span aria-hidden="true">&times;</span>
  {{/s-button}}
{{/if}}
