{{#if notification.icon}}
    {{s-icon name="clock" cssClasses=(concat "col-1 mt5 fs25 removePadding notification-icon " notification.typeClass)}}
{{/if}}
<div class="notification-message fs14 {{if (and action icon) 'col-8' (if action 'col-9' (if icon 'col-10' 'col-11'))}}"
    title={{notification.message}}>
    {{notification.message}}
</div>
{{#if notification.actions}}
    {{#s-button cssClasses=(concat 'fs12 notification-action ' notification.typeClass) onClick=(action 'customAction')}}
        {{notification.actions.title}}
    {{/s-button}}
{{/if}}
{{#if showProgress}}
    {{s-progress class="col-8" cssClasses="query-progress" progress=notification.progress.percentage}}
{{/if}}
{{#if notification.isCloseable}}
    {{#s-button cssClasses="fs21 close-notification" onClick=(action 'remove' notification)}}
        <span aria-hidden="true">&times;</span>
    {{/s-button}}
{{/if}}
