{{#if onClick}}
  <button
    class="btn btn-{{color}} {{cssClasses}} {{size}}"
    disabled={{or disabled isLoading}}
    {{action onClick}}
  >
    {{#if isLoading}}
      {{s-icon cssClasses="icon" name="ovalloader"}}
    {{/if}}
    {{#if icon}}
      {{s-icon cssClasses="icon" name=icon}}
    {{/if}}

    {{yield}}
  </button>
{{/if}}

{{#if link}}
  {{#link-to link class=(concat "btn fs12 " cssClasses size "btn-"color)}}
    {{yield}}
  {{/link-to}}
{{/if}}