<div
  data-test-id={{data-test-id}}
  class="modal fade {{if isVisible "show d-block"}}"
  role="dialog"
  style="{{unless isVisible "display:none;"}}"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div
    class="modal-dialog {{modelDialogClassNames}}"
    role="document">
    <div
      class="modal-content p10">
      {{#if header}}
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{header}}</h5>
          {{#if onCancel}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action 'onCancelAction'}}>
              <span aria-hidden="true">&times;</span>
            </button>
          {{/if}}
        </div>
      {{/if}}
      <div class="modal-body">
        {{yield}}
      </div>
      {{#if showFooter}}
        <div class="modal-footer">
          {{#if onCancel}}
            {{#s-button
              onClick=(action 'onCancelAction')
              cssClasses="float-left"
              color= "secondary"
              data-dismiss="modal"
            }}
              {{cancelText}}
            {{/s-button}}
          {{/if}}
          {{#if onOK }}
            {{#s-button
              color="primary"
              cssClasses="float-left"
              data-dismiss="modal"
              onClick=(action onOK)
            }}
              {{okText}}
            {{/s-button}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
{{!-- {{yield}} --}}
<div class="modal-backdrop fade show"></div>