<div class="s-progress d-flex {{cssClasses}}" data-test-id={{data-test-id}}>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"
            style={{progressBarWidth}}>
        </div>
    </div>
    <div class="progress-text fs12 pl10 pr10 mtn6 d-inline-flex">{{progress}}%</div>
</div>
{{yield}}