<select
  onblur={{focus-out}}
  disabled={{disabled}}
  class="form-control"
  onchange={{action onChange value="target.value" }}
>
  {{#each options as |o|}}
    <option
      value="{{o.value}}"
      selected={{eq value o.value}}
      disabled={{o.disable}}>
        {{o.name}}
    </option>
 {{/each}}
</select>